@import 'src/styles/variables.scss';

.taskDetailsPanel {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  width: 380px;
  height: 97vh;
  background-color: #2d2d2d;
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  transition: transform 0.3s ease-in-out;
  color: #f1f1f1;
  font-family: Segoe UI-SERIF;
  z-index: 20;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 10;
  &:hover {
    color: #f1f1f1;
  }
}

.taskHeaderSection {
  background-color: #252525;
  border-radius: 5px;
  margin-bottom: 0.2rem;
  padding: 0.7rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem 1rem;
}

.titleSection {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #777;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}

.taskTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  flex-grow: 1;
  color: #f1f1f1;
}

/* New style for the star button */
.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
}

.starIcon {
  color: #999;
  font-size: 1.25rem;
  transition: color 0.2s;
  
  // New style to fill the star with yellow
  &.favorited {
    color: #ffd700;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.addStepSection,
.myDaySection,
.addFileSection,
.noteSection {
  background-color: #252525;
  border-bottom: 1px solid #444;
  padding: 0.7rem;
  margin: 0.2rem 0rem;
  border-radius: 5px;
}

.addStepSection {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0.7rem 0rem 0rem;

  &:hover {
    background-color: #333;
  }
}

.addStepIcon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #999;
}

.addStepText {
  color: #999;
}

.myDaySection {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}

.myDayIcon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #ff9800;
}

.myDayText {
  flex-grow: 1;
  color: #f1f1f1;
}

.actionSection {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  border-radius: 5px;
  margin: 0.2rem 0rem;
}

.actionItem {
  padding: 0.7rem;
  border-bottom: 1px solid #444;
  position: relative;
  
  &:last-of-type {
    border-bottom: none;
  }
}

.actionItemHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  &:hover {
    background-color: #333;
  }
}

.actionIcon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #999;
}

.actionText {
  flex-grow: 1;
  color: #f1f1f1;
}

.actionValue {
  font-size: 0.9rem;
  color: #999;
}

.optionPanel {
  position: absolute;
  top: 100%;
  left: 15%;
  width: 72%;
  z-index: 10;
  padding: 0.7rem;
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.optionItem {
  padding: 0.7rem;
  background-color: rgba(45, 45, 45, 0.2);
  border-radius: 5px;
  cursor: pointer;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:1rem;
  width:10rem;
  &:hover {
    background-color: #333;
  }
  .dateDay {
    color: #999;
    font-size: 0.9rem;
  }
}

.customDateItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .material-icons {
    font-size: 1.2rem;
  }
}

.datePickerPanel {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.datePickerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.datePicker {
  background-color: transparent;
  color: #f1f1f1;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
}

.calendarContainer {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #999;
  border-top: 1px solid #444;
  margin-top: auto;
}

.creationTime {
  font-size: 0.9rem;
}

.deleteIcon {
  cursor: pointer;
  font-size: 1.2rem;
  &:hover {
    color: #f1f1f1;
  }
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.datePickerButton {
  padding: 0.5rem 1rem;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: transparent;
  color: #999;
  &:hover {
    background-color: #444;
  }
}

.saveButton {
  background-color: #1a73e8;
  color: #fff;
  &:hover {
    background-color: #155bb5;
  }
}

.addFileSection {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #333;
  }
}

.addFileIcon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #999;
}

.addFileText {
  flex-grow: 1;
  color: #f1f1f1;
}

.noteSection {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #252525;
  border-radius: 5px;
  &:hover {
    background-color: #333;
  }
}

.noteInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #f1f1f1;
  padding: 0;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
  &::placeholder {
    color: #999;
  }
}